.caixa {
    background: rgba(33, 33, 33, 0.9);    
    width: 40rem;
    padding: 40px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 20px 20px black;
}

.caixa h2 {
    color: #fff;
    font-family: Arial;
    text-align: center; 
    padding-bottom: 1rem;
}

.caixa .campo{
    position: relative;
}
.caixa .campo input {
    width: 100%;
    padding: 9px;
    font-size: 16px;
    background: transparent;
    color: #fff;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
}

.caixa .campo label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    font-family: Arial;
    pointer-events: none;
    transition: .5s;
}
.caixa .campo input:focus~label, .caixa .campo input:valid~label {
    top: -20px;
    left: 0;
    font-size: 12px;
}

.caixa textarea{
    padding: 2rem;
    background-color: #bebebe;
}

.detalhes a{
    width: 100%;
    height: 40px;
    padding: 20px 30px;
    margin-left: 43%;
    text-transform: uppercase;
    font-size: 16px;
    background: var(--corFundo);
    border: none;
    outline: none;
    color: #b9b9b9;
    font-size: 15px;
    border-radius: 4px;
    
}
p{
    font-family: Arial;
    font-size: 16px;
}

a:link, a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}